#{extends 'Secure/layout.html' /}

<div id="login">
	
	<h1>&{'secure.title'}</h1>
		
	#{form @authenticate()}
		
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}
		<div class="ch-container">
		    <div class="row">
		        
		    <div class="row">
		        <div class="col-md-12 center login-header">
		            <h2>Welcome to Dapur Mommy</h2>
		        </div>
		        <!--/span-->
		    </div><!--/row-->
		
		    <div class="row">
		        <div class="well col-md-8 center login-box">
		        
		            <form class="form-horizontal" action="index.html" method="post">
		               
		                    <div class="input-group input-group-lg">

		                        <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
								<input type="text" class="form-control"  name="username" id="username" value="${flash.username}" />
		                    </div>
		                    <div class="clearfix"></div><br>
		
		                    <div class="input-group input-group-lg">

		                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
		                        <input type="password" class="form-control"  name="password" id="password" value="" />
		                    </div>
		                    <div class="clearfix"></div>
		
		                    <div class="input-prepend">
		                        <input type="checkbox" class="remember" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
								<label for="remember">&{'secure.remember'}</label>
		                    </div>
		                    <div class="clearfix"></div>
		
		                    <p class="center col-md-6">
		                        <input type="submit" class="btn btn-primary" id="signin" value="&{'secure.signin'}" />
		                    </p>

		            </form>
		        </div>
		        <!--/span-->
		    </div><!--/row-->
			</div><!--/fluid-row-->
		
		</div><!--/.fluid-container-->
	#{/form}
</div>