#{extends 'tema.html' /}
<div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->
    <div>
    <ul class="breadcrumb">
        <li>
            <a href="@{admins.awal()}">Home</a>
        </li>
        <li>
            <a href="@{admins.bahanBeli()}">Pembelian Bahan</a>
        </li>
    </ul>
	    <div  style="padding:5px 10px 5px 5px;">
			<form method="get" action="@{admins.sendmail()}" >  
			   <input type="hidden" name="a" value="${pesan}" >
			   <input type="hidden" name="b" value="${subject}" >
			   <input class="btn  btn-default" type="submit" value="send mail" >
			</form>  
		</div>  
</div>
        <div class="box col-md-4">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-th"></i> Beli Bahan</h2>

                    <div class="box-icon">
                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                class="glyphicon glyphicon-chevron-up"></i></a>
                    </div>
                </div>
              
                 <div class="box-content">
                <!-- <a href="@{admins.lihatBahan(" Hello World ")}"> Stok Bahan </a> --> 
                <form role="form" method="GET" action="@{admins.saveBeliBahan()}">
                <div class="control-group">
                    

                    <div class="controls"><label >Nama Bahan:</label>&nbsp
                        <select name="bb.Nama_bahan" data-rel="chosen">
                            <option>Pilih</option>
							#{list items:b, as:"x"}
							<option value="${x.Nama_Bahan}">${x.Nama_Bahan}</option>
							#{/list}
                        </select>
                    </div>
                </div>
                    <div class="form-group">
                        <label >Jumlah</label>
                        <input type="text" class="form-control"  name="bb.Stock" placeholder="jumlah">
                    </div>
                    <div class="form-group">
                        <label >Harga Satuan</label>
                        <input type="text" class="form-control" name="bb.Harga_Persatuan" placeholder="Harga Satuan">
                    </div>
                    <div class="control-group">
                    

                    <div class="controls"><label >Satuan:</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <select name="bb.satuan.id" data-rel="chosen">
                           <option>Pilih</option>
							#{list items:s, as:"x"}
							<option value="${x.id}">${x.Satuan}</option>
							#{/list}
                        </select>
                    </div>
                </div>
                  
                    <button type="submit" class="btn btn-default" value="Beli">Beli</button>
                </form>

            </div>
            </div>
        </div>
        <!--/span-->
 <div class="box col-md-8">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-th"></i> Log Pembelian Bahan</h2>

        <div class="box-icon">
           
            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                    class="glyphicon glyphicon-chevron-up"></i></a>
            <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </div>
    <div class="box-content">
   
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
    <tr>
        <th>Nama Menu</th>
        <th>Jumlah Beli</th>
        <th>harga/Satuan</th>
        <th>tanggal update</th>
        <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
   
   
   
   
       #{list items:m, as:'m'}
	<tr> <td> ${m.Nama_bahan} </td>
	<td> ${m.Stock}</td> 
	<td> Rp ${m.Harga_Persatuan},00 / ${m.satuan}</td> 
	<td> ${m.Tanggal_Beli}</td> 
	 <td class="center">
           
            <a class="btn btn-danger"  href="@{admins.hapusBeliBahanLog(m.id)}">
                <i class="glyphicon glyphicon-trash icon-white"></i>
               Hapus
            </a>

        
        </td>
    </tr>
    #{/list}
    </tbody>
    </table>
    </div>
    </div>
    </div>
        
        </div>
        </div>




