#{extends 'tema.html' /}
<div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="@{admins.awal()}">Home</a>
        </li>
        <li>
            <a href="@{admins.lihatStaff()}">Kelola Koki</a>
        </li>
    </ul>
    </div>
    <div class="row">
    <div class="box col-md-4">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-th"></i> Edit Koki</h2>

                    <div class="box-icon">
                        
                        
                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
              
                 <div class="box-content">
                <!-- <a href="@{admins.lihatBahan(" Hello World ")}"> Stok Bahan </a> --> 
                <form role="form" method="post" action="@{admins.saveStaff()}">
                
                   <input type="hidden" name="m.id" value="${z.id}">
                    <div class="form-group">
                        <label >Nama</label>
                        <input type="text" class="form-control"  name="m.nama" value="${z.nama}" placeholder="Nama">
                    </div>
                    <div class="form-group">
                        <label> Email</label>
                        <input type="email" class="form-control" name="m.email" value="${z.email}" placeholder="Email">
                    </div>
                    <div class="control-group">
                    

                   
                </div>
                  
                    <button type="submit" class="btn btn-default" value="simpan">Simpan</button>
                </form>

            </div>
            </div>
        </div>
