#{extends 'tema.html' /}
<div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="@{admins.awal()}">Home</a>
        </li>
        <li>
            <a href="@{admins.bahanBeli()}">Pembelian Bahan</a>
        </li>
    </ul>
	    <div  style="padding:5px 10px 5px 5px;">
			<form method="get" action="@{admins.sendmail()}" >  
			   <input type="hidden" name="a" value="${pesan}" >
			   <input type="hidden" name="b" value="${subject}" >
			   <input class="btn  btn-default" type="submit" value="send mail" >
			</form>  
		</div>
</div>
<div class="box col-md-8">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-th"></i> delivery order</h2>

        <div class="box-icon">
           
            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                    class="glyphicon glyphicon-chevron-up"></i></a>
        </div>
    </div>
    <div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
    <tr>
        <th>Nama Pesanan</th>
        <th>Status Pesan</th>
        <th>Nama Orang</th>
        <th>No meja</th>
        <th>Tanggal</th>
        <th>Tagihan</th>
        <th>aksi</th>
    </tr>
    </thead>
    <tbody>
   
   
   #{list items:m,as:'a'}

	<tr> <td>${a.Nama_Pesanan}</td>
	<td>${a.Status_Pesan}</td>
	<td>${a.Nama_Orang}</td>
	<td>
		#{if a.No_Meja.id == 1}
			Diantar 
		#{/if}
		#{else}
			#{if a.No_Meja.id == 6}
				Dibawa
			#{/if}
			#{else}
				${a.No_Meja}
			#{/else}
		#{/else}
	</td>
	<td>${a.tanggal}</td>
	<td> Rp ${a.tagihan},-- </td> 
	<td> <a class="btn btn-info"  href="@{admins.lihat(a.id)}"> <i
                    class="glyphicon glyphicon-eye-open">&nbspLihat</i> </a> </td> </tr>
#{/list}
   
      
    </tbody>
    </table>
    </div>
    </div>
    </div>
        </div>
