<hr>
<form method="Get" action="@{admins.savesetting()}" >
<table border=1>
<input type="text" name="m.id" value="${sa.id}" >
<tr> <td> Nama_setting </td> <td> : </td> <td> <input type="text" name="m.Nama_setting" value="${sa.Nama_setting}" ></td> </tr>
<tr> <td> Email </td> <td> : </td> <td> <input type="text" name="m.email" value="${sa.email}" ></td> <tr> 
<tr> <td> Nama_printKasir </td> <td> : </td> <td> <input type="text" name="m.printKasir" value="${sa.printKasir}" > </td> </tr>
<tr> <td> Nama_printadmin </td> <td> : </td> <td><input type="text" name="m.printadmin" value="${sa.printadmin}" </td> </tr>
<td> <input type="submit" value="Save" </td>  
</tr>
</table> 
<form>
<hr>