#{extends 'tema.html' /}
<div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="@{admins.awal()}">Home</a>
        </li>
        <li>
            <a href="@{admins.lihatStaff()}">Kelola Koki</a>
        </li>
    </ul>
    </div>
    <div class="row">
    <div class="box col-md-4">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-th"></i> Tambah Koki</h2>

                    <div class="box-icon">
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                    </div>
                </div>
              
                 <div class="box-content">
                <!-- <a href="@{admins.lihatBahan(" Hello World ")}"> Stok Bahan </a> --> 
                <form role="form" method="post" action="@{admins.saveStaff()}">
                
                   
                    <div class="form-group">
                        <label >Nama</label>
                        <input type="text" class="form-control" name="m.nama" placeholder="Nama">
                    </div>
                    <div class="form-group">
                        <label> Email</label>
                        <input type="email" class="form-control" name="m.email" placeholder="Email">
                    </div>
                    <div class="control-group">
                    

                   
                </div>
                  
                    <button type="submit" class="btn btn-default" value="simpan">Simpan</button>
                </form>

            </div>
            </div>
        </div>
        <div class="box col-md-8">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-th"></i> Daftar Koki</h2>

        <div class="box-icon">
           
            <div class="box-icon">           
            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                    class="glyphicon glyphicon-chevron-up"></i></a>
        	</div>
        </div>
    </div>
    <div class="box-content">
   
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
    <tr>
        <th>Nama</th>
        <th>e-mail</th>
       
        <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
       #{list items:s, as:'m'}
	<tr> <td> ${m.nama} </td>
	<td> ${m.email}</td> 
	
	<td><a class="btn btn-default" href="@{admins.editstaff(m.id)}"><i class=" glyphicon glyphicon-pencil icon-white"> edit </i> </a> |
   <a class="btn btn-danger" href="@{admins.hapusStaff(m.id)}"><i class=" glyphicon glyphicon-remove-sign icon-white"> hapus </i></a></td></tr>
#{/list}
    </tbody>
    </table>
    </div>
    </div>
    </div>
        


</div></div>