<h1> Tambah Staff </h1>
<form method="post" action="@{admins.saveStaff()}">
	<table border=1>
		<tr> <td> Nama </td> <td> : </td> <td> <input type="text" name="m.nama"> </td> </tr>
		<tr> <td> E-mail </td> <td> : </td> <td> <input type="email" name="m.email"> </td> </tr>
		<tr> <td> Sebagai </td> <td> : </td> <td>
		<select name="m.sebagai.id">
		#{list items:aa,as:'x'}
			<option value="${x.id}"> ${x.Nama_Akses}</option>
		#{/list}
		</select>
		</td> </tr>
		<tr> <td> <input type="submit" > </td> </tr>
	</table>
</form> 
<h1> Daftar Staff </h1> 
<table border=1>
<tr><td>Nama</td><td>E-mail</td><td>Sebagai</td><td>Action</td></tr>
#{list items:s, as:'m'}
	<tr> <td> ${m.nama} </td>
	<td> ${m.email}</td> 
	<td> ${m.sebagai}</td> 
	<td> <a href="@{admins.editstaff(m.id)}">edit</a> | <a href="@{admins.hapusStaff(m.id)}"> hapus </a></td></tr>
#{/list}
</table>