#{extends 'tema.html' /}
<div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="@{admins.index()}">Home</a>
        </li>
        <li>
            <a href="#">Dashboard</a>
        </li>
    </ul>
</div>
<table border=1> 
<tr> <td> Nama Menu </td> <td> Nama Pesanan </td> <td> Jumlah </td><td> Harga </td><td> tanggal </td> </tr>  
#{list items:m, as:"m"}
	<tr>  
	<td> ${m.menu_pesan} </td>
	<td> ${m.Nama_pesanannya} </td>  
	<td> ${m.Jumlah_Pesan} </td> 
	<td> ${m.Harga} </td> 
	<td> &nbsp ${m.Tanggal_Pesan} &nbsp </td></tr>
#{/list}