#{extends 'tema.html' /}
<div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->
    <div>
    <ul class="breadcrumb">
        <li>
            <a href="@{admins.awal()}">Home</a>
        </li>
        <li>
            <a href="@{admins.pendapatanSekarang()}">Pendapatan</a>
        </li>
    </ul>
	    
</div>
#{if Semua == null }
	<h3> Pendapatan Di Waktu ${awal}</h3> <hr>
	<table >
	<tr> <td> Tahun ${thn} </td> <td> = </td> <td>Rp ${UTS} ,-- </td> <tr>
	<tr> <td> Bulan ${bln} </td> <td> = </td> <td>Rp ${UBS} ,-- </td> <tr>
	<tr> <td> Hari  ${day} </td> <td> = </td> <td>Rp ${UDS} ,-- </td> <tr>
	<table>
	<hr>
		<a href="@{admins.pendapatanJam(awal)}" > Jam </a> &nbsp &nbsp &nbsp
		<a href="@{admins.pendapatanHari(awal)}" > Hari </a>  &nbsp &nbsp &nbsp
		<a href="@{admins.pendapatanBulan(awal)}" > Bulan </a> &nbsp &nbsp &nbsp
		<a href="@{admins.sendmail(pesan,subject)}" > Send Mail </a> &nbsp &nbsp &nbsp
	<hr>
#{/if}
#{else}
<div class="box col-md-4">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-th"></i> Pendapatan semua</h2>

                    <div class="box-icon">
                        
                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                class="glyphicon glyphicon-chevron-up"></i></a>
                    </div>
                </div>
              
                 <div class="box-content">
                <!-- <a href="@{admins.lihatBahan(" Hello World ")}"> Stok Bahan </a> --> 
                <form role="form" >
                
                    <div class="form-group">
                        <label >${Semua} Tahun  = Rp ${UTS} ,-- </label>
                        
                    </div>
                    <div class="form-group">
                        <label >${Semua} Bulan  = Rp ${UTS} ,--</label>
                        
                    </div>
                    <div class="form-group">
                        <label >${Semua} Hari   = Rp ${UTS} ,--</label>
                        
                    </div>
                  
                    
                </form>

            </div>
            </div>
        </div>
	
#{/else}
<div class="box col-md-4">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-th"></i> Pendapatan </h2>

                    <div class="box-icon">
                        
                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                class="glyphicon glyphicon-chevron-up"></i></a>
                    </div>
                </div>
              
                 <div class="box-content">
                <!-- <a href="@{admins.lihatBahan(" Hello World ")}"> Stok Bahan </a> --> 
                <form role="form"  method="get" action="@{admins.pendapatanSekarang()}" >
                
                   
	<tr> <td> <input type="radio" name="t" value=1> </td> <td> <label>Pada Tanggal &nbsp</label><input type="date" name="tgl" > </td> <tr>
	<tr> <td> <input type="radio" name="t" value=2> </td> <td> <label>Semua</label> </td> <tr>
	<tr> <td> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input class="btn btn-default" type="submit" value="cek" > </td> <tr>

                  
                    
                </form>

            </div>
            </div>
        </div>










