#{extends 'tema.html' /}
<div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="@{admins.awal()}">Home</a>
        </li>
        <li>
            <a href="@{admins.lihatResep()}">Kelola Resep</a>
        </li>
         <li>
            <a href="#">Tambah Bahan Resep</a>
        </li>
    </ul>
</div>
<div class="row">
	
	<div class="box col-md-6">

            <div class="box-inner">

                <div class="box-header well" data-original-title="">

                    <h2><i class="glyphicon glyphicon-th"></i> Tambah Bahan</h2>


                    <div class="box-icon">

                        <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>

                        <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>

                    </div>

                </div>

                <div class="box-content">
                <form role="form" method="GET" action="@{admins.saveBahanR()}">
                <div class="control-group">
                    

                    <div class="controls"><label >Nama Bahan:</label>&nbsp
                        <select name="m.Bahan.id" data-rel="chosen">
                            #{list items:b,as:'m'}
										<option value="${m.id}"> ${m.Nama_Bahan}</option>
									#{/list}
									</select> 
                    </div>
                </div>
                    <div class="form-group">
                        <label >Jumlah</label>
                        <input type="text" class="form-control"  name="m.Jumlah"  placeholder="jumlah">
                    </div>
                    
                    <div class="control-group">
                    

                    
                        <table border=0>
						<input type="hidden"  name="id" value="${a}">
						<tr> 
							
							<td> <input type="hidden" name="m.Nama_RealResep.id" value="${a}"> </td> 
						</tr>
						</table>
                    
                </div>
                  
                    <button type="submit" class="btn btn-default" value="Save">Simpan</button>
                </form>

                       
						

                </div>

            </div>

        </div>

</div>
