#{extends 'temapelayan.html' /}
<a href="@{pelayan.tambahPesanan()}"> Add </a>
<hr>
<table border=1>
<tr> <td> Nama Pesanan </td> <td> Status </td> <td> Orang </td> <td> Tagihan </td> <td> Meja </td> <td> Action </td> </tr> 
#{list items:m,as:'m'}
	<tr> <td>&nbsp ${m.Nama_Pesanan} &nbsp </td>
    <td> &nbsp ${m.Status_Pesan.Nama_Status} &nbsp </td>
	<td> &nbsp ${m.Nama_Orang.Nama} &nbsp </td> 
	<td> &nbsp ${m.tagihan} &nbsp </td>
	<td>
	#{if  m.No_Meja.No_Meja > 0 }
		&nbsp ${m.No_Meja.No_Meja} &nbsp
	#{/if}
	#{else}
		&nbsp Tanpa Meja &nbsp
	#{/else}
	</td> 
	<td> 
	#{if m.Status_Pesan.id == 1 }
		&nbsp <a href="@{pelayan.menu(m.id)}"> tambah </a>  &nbsp 
	#{/if}
	&nbsp <a href="@{pelayan.lihat(m.id)}"> lihat </a>  &nbsp 
	&nbsp <a href="@{pelayan.hapusrealpesanan(m.id)}"> Batal </a>  &nbsp </td>
	</tr>
#{/list}
</table> 

