#{extends 'temapelayan.html' /}
<div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="@{pelayan.index()}">Home</a>
        </li>
        <li>
            <a href="@{pelayan.menu()}">Lihat Menu</a>
        </li>
    </ul>
</div>
<div class="row">
<div class="box col-md-12">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-th"></i> Lihat Pesanan</h2>

        <div class="box-icon">
           
            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                    class="glyphicon glyphicon-chevron-up"></i></a>
            
        </div>
    </div>
    <div class="box-content">
   
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
    <tr>
        <th>Nama Pesanan</th>
        <th>Status</th>
        <th> Orang</th>
        <th>Tagihan</th>
        <th>Meja</th>
        <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
   
   #{list items:m,as:'m'}
	<tr> <td>&nbsp ${m.Nama_Pesanan} &nbsp </td>
    <td> &nbsp ${m.Status_Pesan.Nama_Status} &nbsp </td>
	<td> &nbsp ${m.Nama_Orang.Nama} &nbsp </td> 
	<td> &nbsp ${m.tagihan} &nbsp </td>
	<td>
	#{if  m.No_Meja.No_Meja > 0 }
		&nbsp ${m.No_Meja.No_Meja} &nbsp
	#{/if}
	#{else}
		&nbsp Tanpa Meja &nbsp
	#{/else}
	</td> 
	<td> <a class="btn btn-default" href="@{pelayan.lihat(m.id)}"> <i class="glyphicon glyphicon-eye-open"></i>&nbsp&nbsp&nbsp&nbsplihat&nbsp&nbsp&nbsp&nbsp </a>
	#{if m.Status_Pesan.id != 1 }
		<a class="btn btn-success" href="@{pelayan.menu(m.id)}"> <i class="glyphicon glyphicon-plus"></i>&nbsptambah&nbsp </a> 
		<a class="btn btn-danger" href="@{pelayan.hapusrealpesanan(m.id)}"> <i class="glyphicon glyphicon-remove"></i>&nbsp&nbsp&nbspBatal&nbsp&nbsp&nbsp&nbsp </a>  
	#{/if}
	 </td>
	</tr>
#{/list}
    </tbody>
    </table>
    </div>
    </div>
    </div>
        
</div></div>

