#{extends 'temapelayan.html' /}
<div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="@{pelayan.index()}">Home</a>
        </li>
        <li>
            <a href="@{pelayan.menu()}">Lihat menu</a>
        </li>
    </ul>
</div>
 #{if a == 0}
<div class="box col-md-9">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-th"></i> Pemesan</h2>

                    <div class="box-icon">
                        
                        
                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
              
                 <div class="box-content">
               
                <form role="form" method="GET" action="@{pelayan.savePesanan()}">
               
               
                    <div class="form-group">
                        <label >Nama Pesanan</label>
                        <input type="text" class="form-control"  name="a.Nama_Pesanan" placeholder="Nama Pemesan">
                    </div>
                    
                     <div class="control-group">
                    

                    <div class="controls"><label >No Meja &nbsp&nbsp: &nbsp&nbsp</label>&nbsp
                        <select name="a.No_Meja.id" data-rel="chosen">
                            <option> &nbsp&nbsp&nbsp&nbsp Pilih &nbsp&nbsp&nbsp&nbsp</option>
			#{list items:nm, as:"x"}
				<option value="${x.id}">${x.No_Meja}</option>
			#{/list}

                        </select>
                    </div>
                </div>
                  
                    <button type="submit" class="btn btn-default" value="simpan">Simpan</button>
                </form>

            </div>
            </div>
        </div>

#{/if} 
<div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-th"></i> Daftar Menu</h2>

                    <div class="box-icon">
                        
                        
                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
                 <div class="box-content">
              
    #{list items:m,as:'m'}
    <div class="box col-md-4">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-glass"></i> ${m.Nama_Menu}</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                class="glyphicon glyphicon-chevron-up"></i></a>  
            </div>
            </div>
            <div class="box-content">
            <!-- <a href="@{admins.lihatBahan(" Hello World ")}"> Stok Bahan </a> --> 
            <form role="form" method="get" action="@{pelayan.dipesan()}">
            <div class="control-group">
                <input type="hidden" name="id" value="${a}" >
 				<div id="image-1" class="thumbnail" > 
 					<img src="@{pelayan.getPicture(m.id)}" width="100px" height="100px"/> 
   				</div>
   				<input type="hidden" name="a.Nama_pesanannya.id" value="${a}" >
                 <div class="controls">
                  	<label >Harga :&nbsp ${m.HargaUntung}</label>&nbsp
                 </div>
            </div>
            <input type="hidden" name="a.menu_pesan.id" value="${m.id}" >
            <div class="form-group">
                <label >Dekripsi Menu:</label>
                ${m.Keterangan}
            </div>
            <div class="control-group">
            #{if a != 0 }
                <div class="controls"><label >Jumlah:</label>
                    <input type="text" class="form-control" name="a.Jumlah_Pesan" placeholder="jumlah pesanan">
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-default" value="pesan">pesan</button>
            #{/if}
            #{else}
            </div>
            <hr>
            #{/else}
            </form>
          	</div>
        </div>
    </div>
    <!--/span-->
	#{/list}
</div>
    
