#{extends 'temapelayan.html' /}
<div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="@{kasir.index()}">Home</a>
        </li>
        <li>
            <a href="@{kasir.menu()}">Lihat menu</a>
        </li>
    </ul>
</div>

<a href="@{pelayan.index()}"> Back </a> 
<hr>
<form method="GET" action="@{pelayan.savePesanan()}">
<table border=0>
#{if a == 0}
<tr> <td> Nama Pesanan </td> <td> : </td> <td> <input type="text" name="a.Nama_Pesanan" > </td> </tr>
<tr> <td> No_Meja </td> <td> : </td> <td>
			<select name="a.No_Meja.id">
			<option>Pilih</option>
			#{list items:nm, as:"x"}
				<option value="${x.id}">${x.No_Meja}</option>
			#{/list}
			</select> </td> </tr>
			
<tr> <td> <input type="submit" value="Save" > </td> </tr>
</table> 
</form> 
<hr>
#{/if} 
<div class="row">
    #{list items:m,as:'m'}
    <div class="box col-md-4">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-glass"></i> ${m.Nama_Menu}</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                class="glyphicon glyphicon-chevron-up"></i></a>  
            </div>
            </div>
            <div class="box-content">
            <!-- <a href="@{admins.lihatBahan(" Hello World ")}"> Stok Bahan </a> --> 
            <form role="form" method="get" action="@{pelayan.dipesan()}">
            <div class="control-group">
                <input type="hidden" name="id" value="${a}" >
 				<div id="image-1" class="thumbnail" > 
 					<img src="@{pelayan.getPicture(m.id)}" width="100px" height="100px"/> 
   				</div>
   				<input type="hidden" name="a.Nama_pesanannya.id" value="${a}" >
                 <div class="controls">
                  	<label >Harga :&nbsp ${m.HargaUntung}</label>&nbsp
                 </div>
            </div>
            <input type="hidden" name="a.menu_pesan.id" value="${m.id}" >
            <div class="form-group">
                <label >Dekripsi Menu:</label>
                ${m.Keterangan}
            </div>
            <div class="control-group">
            #{if a != 0 }
                <div class="controls"><label >Jumlah:</label>
                    <input type="text" class="form-control" name="a.Jumlah_Pesan" placeholder="jumlah pesanan">
                </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-default" value="pesan">pesan</button>
            #{/if}
            #{else}
            </div>
            <hr>
            #{/else}
            </form>
          	</div>
        </div>
    </div>
    <!--/span-->
	#{/list}
</div>
    
