<!-- #{extends 'temapelayan.html' /} -->

<a href="@{pelayan.index()}"> Back </a> 
<hr>
<form method="GET" action="@{pelayan.savePesanan()}">
<table border=0>
<tr> <td> Nama Pesanan </td> <td> : </td> <td> <input type="text" name="a.Nama_Pesanan" > </td> </tr>
<tr> <td> Status_Pesan </td> <td> : </td> <td> 
		<select name="a.Status_Pesan.id">
			<option>Pilih</option>
			#{list items:sp, as:"x"}
				<option value="${x.id}">${x.Nama_Status}</option>
			#{/list}
			</select> </td> </tr>
			<tr> <td> Nama_Orang </td> <td> : </td> <td>
			<select name="a.Nama_Orang.id">
			#{list items:o, as:"x"}
				#{if x.id == 1 || x.id == 7 }
					<!-- 1 =  bawa pulang dan 7 = makan ditempat --> 
					<option value="${x.id}">${x.Nama}</option>
				#{/if}
				#{else}
					<!-- option value="${x.id}">${x.Nama}</option> -->
				#{/else}
			#{/list}
			</select> </td> </tr>
			<tr> <td> No_Meja </td> <td> : </td> <td>
			<select name="a.No_Meja.id">
			#{list items:nm, as:"x"}
			 	#{if x.id == 4 }
			 		<option value="${x.id}"> Bawa </option>
			 	#{/if}
			 	#{else} 
					<option value="${x.id}">${x.No_Meja}</option>
				#{/else}
			#{/list}
			</select> </td> </tr>
			
<tr> <td> <input type="submit" value="Save" > </td> </tr> 
</table> 
</form> 
<hr>
