#{extends 'temakasir.html' /}
<div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="@{kasir.index()}">Home</a>
        </li>
        <li>
            <a href="#">Dashboard</a>
        </li>
    </ul>
</div>
<div class="box col-md-9">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-th"></i> Daftar Pesanan</h2>

        <div class="box-icon">
           
            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                    class="glyphicon glyphicon-chevron-up"></i></a>
        </div>
    </div>
    <div class="box-content">
		<a class="btn btn-warning btn-md" href="@{kasir.index()}"><i class="glyphicon glyphicon-circle-arrow-left"></i>  back </a> 
		<a class="btn btn-success btn-md" href="@{kasir.menu(a)}"><i class="glyphicon glyphicon-shopping-cart"></i> Tambah  </a> 
		<br><br>
		<table class="table table-striped table-bordered bootstrap-datatable datatable responsive"> 
		<thead>
		<tr> 
		<th>Id</th> 
		<th>Nama Menu</th>
		<th>Nama Pesanan</th>
		<th>Jumlah</th>
		<th>Harga</th>
		<th>Tanggal</th>
		<th>Aksi</th> 
		</tr>  
		</thead>
		<tbody>
		#{list items:m, as:"m"}
			<tr> <td> ${m.id} </td> 
			<td> ${m.menu_pesan} </td>
			<td> ${m.Nama_pesanannya} </td>  
			<td> ${m.Jumlah_Pesan} </td> 
			<td> ${m.Harga} </td> 
			<td> &nbsp ${m.Tanggal_Pesan} &nbsp </td>
			<td> <a class="btn btn-danger btn-sm" href="@{kasir.hapuspesanan(m.id,a)}"><i
		                   class="glyphicon glyphicon-remove"></i> hapus </a> </td></tr>
		#{/list}
		</tbody>
		</table>
	</div>
	</div>
</div>