#{extends 'temakasir.html' /}
<div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="@{kasir.index()}">Home</a>
        </li>
        <li>
            <a href="@{kasir.lihatpembelian()}">Lihat Pembelian</a>
        </li>
    </ul>
</div>
<div class="box col-md-8">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-th"></i> Lihat pembelian</h2>

        <div class="box-icon">
           
            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                    class="glyphicon glyphicon-chevron-up"></i></a>
            
        </div>
    </div>
    <div class="box-content">
   
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
    <tr>
        <th>Kode Pembelian</th>
        <th>Pemesan</th>
        <th>Harga</th>
        <th>Tgl Bayar</th>
       
    </tr>
    </thead>
    <tbody>
   
   
   #{list items:p,as:'a'}
	<tr> <td>${a.kode_pembelian}</td>
	<td>${a.Pemesan}</td>
	<td>${a.Harga}</td>
	<td>${a.tgl_bayar}</td></tr>
#{/list}
   
      
    </tbody>
    </table>
    </div>
    </div>
    </div>
</div>