#{list items:m,as:'m'}
<form method="get" action="@{kasir.dipesan()}">
<table border="1">
	${m.Nama_Menu}
	<input type="hidden" name="id" value="${a}" >
	<input type="hidden" name="a.menu_pesan.id" value="${m.id}" >
	<input type="hidden" name="a.Nama_pesanannya.id" value="${a}" >
	<tr>
		<td>
		Harga Awal :${m.Harga}
		</td>
	</tr>
	<tr>
		<td>
		Dekripsi Menu:<br>
		${m.Keterangan}
		</td>
	</tr>
	<tr>
		<td> Jumlah  <input type="text" name="a.Jumlah_Pesan" > </td>
	</tr>
	<tr>
		<td>
			<input type="submit" value="pesan" >
		</td>
	</tr>
</table>
</form>
#{/list}